/* colors */
$bodybackgroundgrey: #fcfcfc;
$dategrey: #B7B7B7;
$white: #FFFFFF;
$lightgrey: #EFEFEF;
$midgrey: #D6D6D6;
$darkgrey: #4A515A;
$lalic: #DBD8EC;
$beige: #FFE4D3;
$peach: #FFC5AF;
$rose: #ECD0CF;
$dustyrose: #B5A6AB;
/*           */
/* body size */
/*           */
.app {
    height: 100%;
}

.app-body {
    height: 100%;
    font-size: 16px;
    padding: 0;
    background-color: $bodybackgroundgrey;
    font-size: 16px;
    line-height: 1.5em;
    font-family: raleway;
}

.hundred-height {
    height: 100%;
}
/*           */
/* font size */
/*           */
.title-font {
    font-size: 170%;
}

.name-font {
    font-size: 150%;
}

.category-font {
    font-size: 130%;
}

.description-font {
    font-size: 110%;
}

.paragraph-font {
    font-size: 100%;

    &.organization {
        font-weight: bold;
    }
}

.category-font,
.name-font,
.title-font {
    font-weight: bold;
    margin-top: 30px;
}
/*                */
/* container size */
/*                */
.container-fluid {
    height: 100%;
}

.col-sm-12 {
    margin-left: 10px;
    margin-top: 10px;
}

.col-sm-10 {
    margin-top: 10px;
}

.all-view {
    margin-top: 38px;
    overflow: scroll;
    background-color: $bodybackgroundgrey;
}

.home-box {
    cursor: pointer;
    height: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.normal-nav {
    display: block;
}

.mobile-nav {
    display: none;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #EFEFEF;
    padding-right: 140px;
}

.nav-items {
    cursor: pointer;
    padding: 10px;

    > .img {
        height: 23px;
        width: 23px;
    }
}

.resume:hover .dropdown {
    display: block;
}

.dropdown {
    display: none;
    margin: 5px 0 0 2px;
    position: absolute;
    background-color: #fcfcfc;
    min-width: 160px;
    box-shadow: 5px 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px 16px;

    > .paragraph-font:hover {
        color: $rose;
    }
}

.bio > .paragraph-font {
    line-height: 200%;
}

.ul-style {
    list-style-type: square;
}

.block {
    margin: 20px 0 30px;
}

.skills-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.technical-skills {
    width: 50px;
    height: 50px;
    margin: 10px;

    &:hover {
        opacity: 0.5;
    }
}

.project-image {
    margin-top: 15px;
    width: 640px;
    height: 370px;
}

.project-images {
    margin-top: 48px;
    padding-left: 112px;
}

.description-block {
    margin-top: 25px;
}

.date {
    color: $dategrey;
}
/*       */
/* hover */
/*       */
.link-style {
    color: $dategrey;
    text-decoration: none;

    &:hover {
        color: $rose;
        text-decoration: none;
    }

    &:active,
    &:link {
        text-decoration: none;
        color: $rose;
    }
}

.white {
    background-color: $white;
    color: $midgrey;

    &:hover {
        background-color: $lalic;
        color: $white;
    }
}

#tc {
    color: $darkgrey;
    font-weight: bold;

    &:hover {
        background-color: $beige;
        color: $peach;
    }
}

.grey {
    background-color: $lightgrey;
    color: $midgrey;

    &:hover {
        background-color: $beige;
        color: $peach;
    }
}

.grey-two {
    background-color: $midgrey;
    color: $lightgrey;

    &:hover {
        background-color: $rose;
        color: $beige;
    }
}

.grey-three {
    background-color: $darkgrey;
    color: $lightgrey;

    &:hover {
        background-color: $dustyrose;
        color: $rose;
    }
}
/*           */
/* animation */
/*           */
#tc,
.grey,
.grey-three,
.grey-two,
.white {
    cursor: pointer;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
/* transition between views */
.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}

.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.fade.ng-enter {
    opacity: 0;
}

.fade.ng-enter-active {
    opacity: 1;
}

.fade.ng-leave {
    opacity: 1;
}

.fade.ng-leave-active {
    opacity: 0;
}
/*        */
/* mobile */
/*        */
@media only screen and (min-device-width: 320px) and (max-device-width: 773px) {
    .app-body {
        line-height: 220%;
    }

    .nav {
        padding-right: 50px;
    }

    .dropdown {
        font-size: 200%;
        min-width: 200px;
        line-height: 180%;

        > .paragraph-font:hover {
            color: #000000;
            text-decoration: none;
        }
    }

    .mobile-nav {
        display: block;
    }

    .normal-nav {
        display: none;
    }

    .mobile-nav-items {
        cursor: pointer;
        padding: 10px;
        margin-left: 30px;
    }

    .link-style:hover {
        color: #000000;
        text-decoration: none;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 773px) and (orientation: portrait) {
    .app-body {
        font-size: 450%;
    }

    .nav {
        height: 12%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .main-body {
        margin-top: 18%;
    }

    .mobile-nav-items > .img {
        height: 100px;
        width: 100px;
        margin-left: 30px;
    }

    .dropdown {
        margin: 25px 0 0 30px;
        padding: 20px 40px;
    }

    .technical-skills {
        width: 150px;
        height: 150px;
        margin: 50px 30px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 773px) and (orientation: landscape) {
    .app-body {
        font-size: 250%;
    }

    .nav {
        height: 15%;
    }

    .main-body {
        margin-top: 4%;
    }

    .mobile-nav-items > .img {
        height: 50px;
        width: 50px;
        margin-left: 30px;
    }

    .dropdown {
        margin-left: 30px;
        padding: 5px 15px;
    }

    .technical-skills {
        width: 80px;
        height: 80px;
        margin: 30px 25px;
    }
}
