<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4 ">
        <div class="row">
            <div class="col-lg-12">
                <h2>{{project.title}}</h2>
                <h5>{{project.shortDes}}</h5>
                <h5>Role:
                    {{project.role}}</h5>
                <div>
                    <a ng-show="project.links.website" href="{{project.links.website}}" target="_blank">{{project.links.website}}</a>
                </div>
                <div>
                    <a href="{{project.links.website}}" target="_blank">{{project.links.github}}</a>
                </div>
                <div class="des">
                    <p ng-repeat="des in project.description">
                        {{des.des}}
                    </p>
                </div>
            </div>
            <div class="col-lg-12">
                <iframe ng-show="pathparadox" width="500" height="281" src="http://www.youtube.com/embed/3wNsTCzWtZE" frameborder="0" allowfullscreen="allowfullscreen" data-link="http://www.youtube.com/watch?v=3wNsTCzWtZE"></iframe>
                <iframe ng-show="morecat" width="500" height="281" src="http://www.youtube.com/embed/r7TN1_o7fpE" frameborder="0" allowfullscreen="allowfullscreen" data-link="http://www.youtube.com/watch?v=r7TN1_o7fpE"></iframe>
            </div>
        </div>
    </div>
    <div class="col-lg-6 project">
        <div class="row">
            <div class="col-lg-12" ng-repeat="img in project.images">
                <img class="img-responsive pjIm" ng-src="{{img.url}}"/>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
