html, body {
    height: 100%;
    margin: 0;
}
body {
    padding: 0;
}
.container-fluid {
    height: 100%;
}
#main {
    padding: 0px;
    font-family: raleway;
    line-height: 200%;
}
a {
    color: #B7B7B7;
}
a:hover {
    color: #D6D6D6;
    text-decoration: none;
}
.hundredHeight {
    height: 100%;
}
.view {
    overflow: scroll;
    background-color: #fcfcfc;
}
.allView {
    margin-top: 38px;
    overflow: scroll;
    background-color: #fcfcfc;
}
.homeBox {
    height: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #EFEFEF;
}
.navItems {
    cursor: pointer;
    padding: 10px;
}
.resume:hover .dropdown {
    display: block;
}
.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
}
.bio>p {
    font-size: 15px;
}
.bioRightSide {
    margin-top: 130px;
}
h2, h3, h4 {
    font-weight: bold;
    margin-top: 30px;
}
.organization {
    font-weight: bold;
}
ul {
    list-style-type: square;
}
.block {
    margin: 20px 0 30px 0;
}
.pjs {
    height: 100%;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.pjImg {
    width: 25px;
    height: 25px;
}
.pjIm {
    margin-top: 15px;
    width: 640px;
    height: 370px;
}
.project {
    padding-left: 85px;
}
.des {
    margin-top: 25px;
}

/*colors*/

.date {
    color: #B7B7B7;
}
.white {
    background-color: #ffffff;
    color: #D6D6D6;
}
#tc {
    color: #4A515A;
    font-weight: bold;
}
.grey {
    background-color: #EFEFEF;
    color: #D6D6D6;
}
.greytwo {
    background-color: #D6D6D6;
    color: #EFEFEF;
}
.greythree {
    background-color: #4A515A;
    color: #EFEFEF;
}

/*transition between views*/

.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter, .fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}
