html, body {
    height: 100%;
    margin: 0;
}
body {
    padding: 0;
    background-color: #fcfcfc;
    font-size: 16px;
    line-height: 1.5em;
    font-family: raleway;
}
h1 {
    font-size: 190%;
}
h2 {
    font-size: 170%;
}
h3 {
    font-size: 150%;
}
h4 {
    font-size: 130%;
}
h5 {
    font-size: 110%;
}
p, li {
    font-size: 100%;
}
.container-fluid {
    height: 100%;
}
.col-sm-12 {
    margin-left: 10px;
    margin-top: 10px;
}
.col-sm-10 {
    margin-top: 10px;
}
#main {
    padding: 0px;
}
a {
    color: #B7B7B7;
    text-decoration: none;
}
a:hover {
    color: #ECD0CF;
    text-decoration: none;
}
a:link, a:active {
    text-decoration: none;
    color: #ECD0CF;
}
.hundredHeight {
    height: 100%;
}
.view {
    overflow: scroll;
    background-color: #fcfcfc;
}
.allView {
    margin-top: 38px;
    overflow: scroll;
    background-color: #fcfcfc;
}
.homeBox {
    cursor: pointer;
    height: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #EFEFEF;
    padding-right: 140px;
}
.navItems {
    cursor: pointer;
    padding: 10px;
}
.navItems>img {
    height: 23px;
    width: 23px;
}
.resume:hover .dropdown {
    display: block;
}
.dropdown {
    display: none;
    margin: 5px 0 0 2px;
    position: absolute;
    background-color: #fcfcfc;
    min-width: 160px;
    box-shadow: 5px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
}
.dropdown> p:hover {
    color: #ECD0CF;
}
.bio>p {
    line-height: 200%;
}
.bioRightSide {
    margin-top: 130px;
}
h2, h3, h4 {
    font-weight: bold;
    margin-top: 30px;
}
.organization {
    font-weight: bold;
}
ul {
    list-style-type: square;
}
.block {
    margin: 20px 0 30px 0;
}
.skillsBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.technicalSkills {
    width: 50px;
    height: 50px;
    margin: 10px 10px;
}
.pjs {
    height: 100%;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.pjImg {
    width: 25px;
    height: 25px;
}
.pjIm {
    margin-top: 15px;
    width: 640px;
    height: 370px;
}
.project {
    margin-top: 48px;
    padding-left: 112px;
}
.des {
    margin-top: 25px;
}

/*colors*/

.date {
    color: #B7B7B7;
}
.white {
    background-color: #ffffff;
    color: #D6D6D6;
}
#tc {
    color: #4A515A;
    font-weight: bold;
}
.grey {
    background-color: #EFEFEF;
    color: #D6D6D6;
}
.greytwo {
    background-color: #D6D6D6;
    color: #EFEFEF;
}
.greythree {
    background-color: #4A515A;
    color: #EFEFEF;
}
#tc, .white, .grey, .greytwo, .greythree {
    cursor: pointer;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.white:hover {
    background-color: #DBD8EC;
    color: #FFFFFF;
}
#tc:hover, .grey:hover {
    background-color: #FFE4D3;
    color: #FFC5AF;
}
.greytwo:hover {
    background-color: #ECD0CF;
    color: #FFE4D3;
}
.greythree:hover {
    background-color: #B5A6AB;
    color: #ECD0CF;
}

/*transition between views*/

.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter, .fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

/*mobile*/

@media only screen and (min-device-width: 320px) and (max-device-width: 773px) {
    body {
        line-height: 220%;
    }
    .nav {
        padding-right: 50px;
    }
    .navItems>img {
        /*height: 50px;
        width: 50px;*/
        margin-left: 30px;
    }
    .dropdown {
        font-size: 200%;
        min-width: 200px;
        line-height: 180%;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 773px) and (orientation: portrait) {
    body {
        font-size: 450%;
    }
    .nav {
        height: 12%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .mainBody {
        margin-top: 18%;
    }
    .navItems>img {
        height: 100px;
        width: 100px;
        margin-left: 30px;
    }
    .dropdown {
        margin: 25px 0 0 30px;
        padding: 20px 40px;
    }
    .technicalSkills {
        width: 150px;
        height: 150px;
        margin: 50px 30px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 773px) and (orientation: landscape) {
    body {
        font-size: 250%;
    }
    .nav {
        height: 15%;
    }
    .mainBody {
        margin-top: 4%;
    }
    .navItems>img {
        height: 50px;
        width: 50px;
        margin-left: 30px;
    }
    .dropdown {
        margin-left: 30px;
        padding: 5px 15px;
    }
    .technicalSkills {
        width: 80px;
        height: 80px;
        margin: 30px 25px;
    }
}
