#main {
    padding: 0px;
    font-family: raleway;
}
a {
    color: #B7B7B7;
}
a:hover {
    color: #D6D6D6;
    text-decoration: none;
}
.view {
    height: 100%;
    overflow: scroll;
    background-color: fcfcfc;
}
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #EFEFEF;
}
.homeBox {
    height: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2, h3, h4 {
    font-weight: bold;
    margin-top: 30px;
}
.organization {
    font-weight: bold;
}
ul {
    list-style-type: square;
}
.block {
    margin: 20px 0 30px 0;
}
.pjs {
    height: 100%;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.pjImg {
    width: 479.06px;
    height: 280px;
}
.pjIm {
    margin-top: 15px;
    width: 640px;
    height: 370px;
}
.options {
    padding: 10px;
}
.project {
    padding-left: 85px;
}
.des {
    margin-top: 25px;
}
.keepInTouch {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message {
    resize: none;
    border-style: none;
    margin-top: 10px;
    width: 200px;
    height: 200px;
}
::-webkit-input-placeholder {
    text-align: center;
}
input {
    width: 200px;
    margin-top: 10px;
    border-style: none;
}

/*colors*/

.date {
    color: #B7B7B7;
}
.white {
    background-color: #ffffff;
    font-weight: bold;
}
.grey {
    background-color: #EFEFEF;
}
.greytwo {
    background-color: #D6D6D6;
}
.greythree {
    background-color: #4A515A;
    color: #EFEFEF;
}

/*transition between views*/

.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter, .fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}
