<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="">
                <p class="name-font">
                    {{about.name}}
                </p>
                <p class="paragraph-font">{{about.phone}}</p>
                <p class="paragraph-font">{{about.email}}</p>
                <p class="paragraph-font">{{about.location}}</p>
                <div>
                    <p class="category-font">Projects</p>
                    <div>
                        <a class="link-style" ui-sref="all.project({name:'pathparadox'})">
                            Path Paradox
                        </a>
                    </div>
                    <div>
                        <a class="link-style" ui-sref="all.project({name:'morecat'})">
                            moreCat
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10">
                        <div>
                            <p class="category-font">Technical Skills</p>
                            <div class="block">
                                <p class="paragraph-font organization">Proficient</p>
                                <div class="skills-block">
                                    <div ng-repeat="language in about.technicalSkills.proficient">
                                        <a href="{{language.link}}" target="_blank"><img class="technical-skills" src="{{language.url}}"/></a>
                                    </div>
                                </div>
                            </div>
                            <div class="block">
                                <p class="paragraph-font organization">Knowledgeable</p>
                                <div class="skills-block">
                                    <div ng-repeat="language in about.technicalSkills.knowledgeable">
                                        <a href="{{language.link}}" target="_blank"><img class="technical-skills" src="{{language.url}}"/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div>
                <p class="category-font">Experiences</p>
                <div ng-repeat="ex in about.experience" class="block">
                    <p class="paragraph-font date">{{ex.date}}</p>
                    <p class="paragraph-font organization">{{ex.company}}</p>
                    <p>{{ex.role}}</p>
                    <p>
                        <ul class="ul-style">
                            <li ng-repeat="de in ex.details">
                                {{de.detail}}
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div>
                <p class="category-font">Education</p>
                <div ng-repeat="ed in about.education" class="block">
                    <p class="paragraph-font date">{{ed.date}}</p>
                    <p class="paragraph-font organization">{{ed.school}}</p>
                    <p>{{ed.degree}}</p>
                    <p>{{ed.honor}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2 col-md-2 col-sm-12">
            <div>
                <p class="category-font">Awards</p>
                <div ng-repeat="ad in about.awards" class="block">
                    <p class="paragraph-font date">{{ad.date}}</p>
                    <p class="paragraph-font organization">{{ad.school}}</p>
                    <p>{{ad.award}}</p>
                </div>
            </div>
            <div>
                <p class="category-font">Languages</p>
                <div class="block">
                    <p>{{about.languages}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
